* {
    box-sizing: border-box;
    margin: 5px;
    padding: 0;
}
body {
    background: rgba(85, 6, 243, 0.871);
}

.fondo1 {
    background: rgb(24, 4, 97);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    clip-path: polygon(100% 0,100% 89%, 48% 100%, 0 89%, 0 0 );
}

.titulo {
    background: #0f0bf8;
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    box-shadow: 0px 5px 10px #fff;
    padding: 10px;
    border-radius: 10px;
}

.titulo::after {
    width: 200px;
    height: 0px;
    content: "";
    display: block;
    background: black;
    margin: 0 auto;
}

.foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
}

.sub_titulo {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
}

.fondo2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.link {
    display: block;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    
}

.link:nth-child(1) {
    background: #25d366;
    box-shadow: 0px 5px 10px #fff;
}
.link:nth-child(2) {
    background: #3748a0;
    box-shadow: 0px 5px 10px #fff;
}
.link:nth-child(3) {
    background: #1688bc;
    box-shadow: 0px 5px 10px #fff;
}
.link:nth-child(4) {
    background: rgb(243, 12, 12);
    box-shadow: 0px 5px 10px #fff;
}
.link:nth-child(5) {
    background: #0f0bf8;
    box-shadow: 0px 5px 10px #fff;
}

.fondo2 [class*="icon-"]::before {
    margin: 10px;
}

.titulo_perfil {
    padding: 10px;
    color: #fff;
}

.texto {
    font-size: 20px;
    line-height: 35px;
    margin: 10px;
    text-align: center;
    color: #fff;
}

span{
    color: blue;
}

footer a{
    color: rgb(243, 12, 12);
    text-decoration: none;
    margin: 0px 20px 20px 200px;
    
}

